<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | markdownify }}</p>
					{{- end -}}
				</div>

				<h1>Projects I'm working on</h1>
					<ul>
					<li>Getting more homes in London by obtaining planning permission for new properties on under-utilised land through my company, <a href="https://redbanksia.com">Red Banksia</a>.</li>
					<li>Sourcing commercial property conversion projects for investor and developer partners that are looking for abnormal returns. Contact me if you want to know more.</li>
					<li>Acquiring properties for charities and government agencies that will take on a long-term lease. </li>
					<li>The biggest barrier to property investing is education. This was true for me and anyone I know who wants to get started on their first deal, either themselves or as an investor on someone elses. I write books on different investing strategies, giving readers everything they need to implement the investment proposal and provide further resources for education or support.</li>
			</ul>

				<h1>Useful stuff</h1>
					<p>Below are a few of the things I have found that help me find, assess and manage my properties</p>
					<ul>
					<li>If you haven't already yet, check out <a href="https://www.nimbusmaps.co.uk/"> Nimbus Maps</a> and <a href="https://propertydata.co.uk/"> PropertyData </a> to help you analyse an opportunity and be confident in your numbers. I use these platforms almost daily.</li>
					<li>My <a href="https://caljshelton97074.activehosted.com/f/5">return on investment calculator</a> is handy for analysing a BTL or HMO opportunity.</li>
					<li>Want to make sure you give your tenant the correct documents before they move in? See my <a href="https://caljshelton97074.activehosted.com/f/1">BTL checklist</a>.</li>
					<li>I stumbled across <a href="https://gocardless.com/guides/posts/how-landlords-use-dd/"> GoCardless</a> and now ask all my tenants to sign-up for direct debit payments using their platform. I am notified if they decide to cancel payment or cannot make rent.</li>
				</ul>

				<h1>Some of my books</h1>
					<ul>
					<li><a href="https://www.amazon.co.uk/How-Manage-Your-BTL-Processes/dp/B08SPM7ZVT/ref=sr_1_3?dchild=1&keywords=how+to+manage+your+btl&qid=1611224903&sr=8-3"> How to Manage Your BTL: Your Guide to Being a Landlord With Proven Processes and Systems to Maximise Your Rental Property Returns</a></li>
					<li><a href="/3-wealth-strategies"> Three Wealth Strategies: Property Investing Secrest Explained </a></li>
				</ul>

				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>

	</body>
</html>
